@{
    ViewBag.Title = "About me";
}
<body style="background-color:powderblue;">
    <div class="container">
        <div class="text-center">
            <h1 style="font-family: 'Lato', sans-serif; font-size:75px; color:dodgerblue;">About Me</h1>
        </div> 
        <div class="container left">
            <p style="font-family:'Roboto Slab',serif; left;">I have always wanted to create. At a young age I found it through music and it stuck with me all my life and now I can say I play over nine instruments. My father being in network administration, taught me how to build computers and I quickly was taking apart electronics to see how they worked I even remember getting in trouble for taking apart my brand new playstation and mounting it into my sister's old easy bake oven. At the start of high school however, I felt a bit lost. Here I was making music and playing with electronics and it was great but I realized I wanted to create things for people to enjoy. It was then I found my next challenge of building sets for plays in the theater department. I caught on very quickly and by my sophomore year I was the Master Builder. I was designing full two story sets, teaching something I loved and making friends with people who cared about the same things I did. After high school I took some time off and even in my time of relaxation I became engaged with playing video games competitively. I spent hours upon hours competing against people from around the world in a popular online video game. In only a few short months I had ranked in the top 10 players in the world.</p>
        </div>      
      
    </div>
</body>
