@{
    ViewBag.Title = "Home Page";
}
   <body style="background-image:url(../../Content/stockvault-mountains138737.jpg)">
    <div class="container text-center">
       <h1 style="font-family: 'Lobster', cursive; font-size:100px; color:navy;">Colton Miller</h1>
       <h2 style ="font-family:'Lobster', cursive; font-size:75px; color: dodgerblue;">Full Stack Developer</h2>
       <br />
       <br />
       <div class="container" style="align-content:center">
           <div class="col-md-4 row">
               <a href="https://github.com/ColtonMiller">
                   <h2 style="font-family:'Roboto Slab',serif; font-size:50px;">
                       <i class="fa fa-github"></i>GitHub
                   </h2>
               </a>
           </div>
           <div class="col-md-5 row">
               <a href="https://www.linkedin.com/in/coltonjmmiller">

                   <h2 style="font-family:'Roboto Slab',serif; font-size:50px;"><i class="fa fa-linkedin-square"></i>LinkedIn</h2>
               </a>
           </div>
           <div class="col-md-4 row">
               <h2 style="font-family:'Roboto Slab',serif;">Test</h2>
           </div>
       </div>
   </div>
  </body>