@{
    ViewBag.Title = "Home Page";
}
   <body style="background-image:url(../../Content/stockvault-mountains138737.jpg)">
    <div class="container text-center">
       <h1 style="font-family: 'Lato', sans-serif; font-size:100px; color:navy;">Colton Miller</h1>
       <h2 style ="font-family: 'Lato', sans-serif; font-size:75px; color: dodgerblue;">Full Stack Developer</h2>
       <br />
       <br />
       <div class="container" style="align-content:center">
           <div class="col-md-4 row">
               <a href="https://github.com/ColtonMiller" target="_blank">
                   <img src="~/Content/GitHub_Logo.png" style="height:66px;" />
               </a>
           </div>
           <div class="col-md-5 row">
               <a href="https://www.linkedin.com/in/coltonjmmiller" target="_blank">
                   <img src="~/Content/Logo-2C-66px-TM.png" style="height:55px;">
               </a>
           </div>
           <div class="col-md-4 row">
               <h2 style="font-family:'Roboto Slab',serif;">Test</h2>
           </div>
       </div>
   </div>
  </body>