@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron" style="background-color:palegreen;" width:auto; height:auto;">
   <div class="text-center">
       <h1 style="font-family:'Roboto Slab',serif;">Colton Miller</h1>
   </div>

</div>