
@{
    ViewBag.Title = "Index";
}

<body style="background-color:powderblue;">
    <div class="container text-center">
        <h1 style="font-family: 'Lato', sans-serif; font-size:75px; color:dodgerblue;">Skill Set</h1>
        <div class="container row">
            <div class="container row">
                <img src="~/Content/vslogo2012.png" style="height:120px;" />
                <br />
                <img src="~/Content/HTML5_Logo_512.png" style="height:100px;"/>
                <img src="~/Content/CSS3_logo.png" style="height:105px;"/>
                <img src="~/Content/js3.png" style="height:110px;" />
                <br />
                <br />
                <img src="~/Content/ASPNET_logo.png" style="height:85px;"/>
                <br />
                <br />
                <img src="~/Content/sqlserver2012.png" style="height:85px;" />
                <br />
                <br />
                <img src="~/Content/MSFT_logo_rgb_C-Gray.png" style="height:85px;" />
            </div>
        </div>
    </div>
</body>

