
@{
    ViewBag.Title = "Index";
}

<body style="background-color:powderblue;">
    <div class="container text-center">
        <h1 style="font-family: 'Lato', sans-serif; font-size:75px; color:dodgerblue;">Skill Set</h1>
        <div class="container text-center">
            <div class="col-lg-6">
                <h1 style="font-family: 'Roboto Slab', serif;">Front End</h1>
                <div class="container">
                    <ul class="list-unstyled">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaSript</li>
                        <li>Asp.NET</li>
                        <li>Adobe</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <h1 style="font-family: 'Roboto Slab', serif;">Back End</h1>
                <div>

                </div>
            </div>
        </div>
    </div>
</body>

