
@{
    ViewBag.Title = "Resume";
}

<body style="background-color:powderblue;">
    <div class="container text-center">
        <h1 class="main-font">Resume</h1>
    </div>
    <div class="text-center">
        <a href="~/Content/ColtonMillerResume.pdf"  target="_blank">
            <img src="~/Content/ColtonMillerResume.jpg" style="width:60%;" /> 
        </a>
            <br />
            <br />
            <div class="row">
                <a href="~/Content/ColtonMillerResume.pdf" class="btn btn-primary view-pdf"  target="_blank">View PDF</a>
            </div>
</div>

</body>

