
@{
    ViewBag.Title = "Work";
}

<body style="background-color:powderblue;">
    <div class="container text-center">
        <h1 class="main-font">Works</h1>
    </div>
    <br /> 
    <div class="container text-center"><h1 class="main-font" style="color:navy;">Programming</h1></div>
    <br />
    <div class="container text-center">
        <a href="https://github.com/ColtonMiller/CombatSim2.0" target="_blank"><h1 class="font-3">Fight Anything</h1><p class="font-2">A simple Combat simulator where you have 3 weapons and you can...Fight anything.</p></a>
        <div class="row text-center"><img src="~/Content/FA1.png" style="height:200px;" /><img src="~/Content/FA2.png" style="height:200px;" /><img src="~/Content/FA3.png" style="height:200px;" /><img src="~/Content/FA4.png" style="height:200px;" /></div>  
    </div>
    <div class="container text-center">
        <a href="https://github.com/ColtonMiller/Rememberyourlines" target="_blank"><h1 class="font-3">Remember Your Lines</h1><p class="font-2">Takes in a .txt file of the entire script of MacBeth user can enter anything and the program shows all lines that contain the input. </p></a>  
    </div>
    <div class="row text-center"><img src="~/Content/RYL1.png" style="height:200px" /><img src="~/Content/ryl2.png" style="height:200px" /><img src="~/Content/RYL3.png" style="height:200px" /></div>  
    <br />
    <br />
    <div class="container text-center"><h1 class="main-font" style="color:navy;">Graphics</h1></div>
    <div class="row text-center"><img src="~/Content/My Graphics/Colorado.jpg" class="flag" /><img src="~/Content/My Graphics/Ireland.jpg" class="flag" /><img src="~/Content/My Graphics/Norway.jpg" class="flag" /></div>
    <div class="row text-center"><img src="~/Content/My Graphics/TeraTek.jpg" class="flag" /><img src="~/Content/My Graphics/UM.jpeg" class="flag" /></div>
    <div class="row text-center"><img src="~/Content/My Graphics/Vectors 3.jpg" class="flag" /><img src="~/Content/My Graphics/Vectors2.jpg" class="flag" /><img src="~/Content/My Graphics/Vectors1.jpg" class="flag" /></div>
    <div class="row text-center"><img src="~/Content/My Graphics/45.jpg" class="WP" /><img src="~/Content/My Graphics/Portal.jpg" class="WP" /><img src="~/Content/My Graphics/ColoradoWP.jpg" class="WP" /></div>
</body>

